$experience-background: #ded;
.case {
  &#experience{
    height: 44em !important;
    color: white !important;
    .ui.grid{
      height: 100%;
      /* background: url(
      // "../images/tools1.png") left bottom no-repeat,
      // url("../images/tools2.png") right top no-repeat;*/
      background-size: 100%, 100%;
      background-color: #A4A8A8;
      .row.headerRow{
        margin-top: 2.3em;
      }

      .sixteen.wide.tablet.eight.wide.computer.column.centered.technologies{
        padding: 0 0.25em;
        .ui.tiny.images{
          text-align: center;
        }
      }
    }
  }
}
