$me-background: #dedddd;
.case {
  width: 100%;
  height: 100vh;
  &.me{
      background-color: $me-background;
    .items{
      .item{
        &#meImg{
          margin: 1em auto;
          .header{
            font-size: 2.6em;
          }
          
        }
      }
    }
  }
}
